<h3> Teaching activities </h3>

    <p style="text-align:justify">
        I am passionate about teaching and learning, and about harnessing the
        power of new technologies to provide better higher education in science,
        technology, engineering and mathematics (STEM).
    </p>

    <h4> <b>2020-</b>, EPFL, Head teaching assistant,
        <a href="https://edu.epfl.ch/coursebook/en/image-processing-i-MICRO-511">
        MICRO 511 Image Processing I</a> and
        <a href="https://edu.epfl.ch/coursebook/en/image-processing-ii-MICRO-512">
        MICRO 512 Image Processing II</a> at EPFL </h4>

        Under construction.

    <h4> <b>2014-2018</b>, KTH, Teaching assistant,
        <a href="https://www.kth.se/student/kurser/kurs/EQ2300?l=en">EQ2300
        Digital Signal Processing</a>
    </h4>

    <p style="text-align:justify">
        The bulk of my teaching activities during my Ph.D. was serving as a
        teaching assistant each fall semester. In total, I guided students
        through approximately 100 hours of exercise sessions and 20 hours of
        laboratory sessions, and I lectured for 4 hours. I also took care of
        the development of new course material for exercise sessions by
        restructuring the entire exercise collection to bring together the
        content in the lectures and the exercises.
    </p>

    <h4> Supervision of student theses </h4>
    <p style="text-align:justify">
        I regularly supervise M.Sc. and B.Sc. theses in a variety of topics
        related to my research interests.
    </p>

    <!-- search bar -->
<div class="row">
	<div class="col-sm-4">
		<input ng-model="filter_text" type="text" class="form-control" placeholder="Search...">
	</div>
</div>

<!-- error handling BibTex file (empty or bad syntax) -->
<p ng-show="error" class="bg-danger">No theses found.</p>

<!-- loop through publication types -->
<div ng-repeat="pub_info in sorted_pubs">

        <!-- header for publication type (hide if none in this type, see header names in pubs.js) -->
	<h4 ng-hide = "!filteredpubs.length">{{pub_info.name}}</h4>

	<!-- initiate list of publications of that type (item in master list) -->
	<ul class="list-group">

                <!-- loop through pubications of that type (each one of this item <li>) -->
		<li class="list-group-item publist_row" ng-repeat="pub in filteredpubs = (pub_info.pubs | orderBy: getDate : true | filter:filter_text)">

			<!-- switch through publication types (set handler for click events and configure type of item) -->
			<span class="list-group-item-text" ng-switch on="pub.EntryType" ng-click="showMore = !showMore" >

                            <!-- format for case: unpublished (calling it preprints) -->
			    <span ng-switch-when="unpublished">
			   		<i class="material-icons">insert_drive_file</i>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>,
					<span ng-show="pub.Fields.Journal"><em>{{pub.Fields.Journal}}</em>, </span>
					<span ng-show="pub.Fields.Volume">vol. {{pub.Fields.Volume}}, </span>
					<span ng-show="pub.Fields.Number">no. {{pub.Fields.Number}}, </span>
					<span ng-show="pub.Fields.Pages">pp. {{pub.Fields.Pages}}, </span>
					{{pub.Fields.Year}}
                            </span>
                            <!-- format for case: article -->
			    <span ng-switch-when="article">
			   		<i class="material-icons">insert_drive_file</i>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>,
					<em>{{pub.Fields.Journal}}</em>,
					<span ng-show="pub.Fields.Volume">vol. {{pub.Fields.Volume}}, </span>
					<span ng-show="pub.Fields.Number">no. {{pub.Fields.Number}}, </span>
					<span ng-show="pub.Fields.Pages">pp. {{pub.Fields.Pages}}, </span>
					{{pub.Fields.Year}}
                            </span>
                            <!-- format for case: inproceedings -->
			    <span ng-switch-when="inproceedings">
			   		<i class="material-icons">insert_drive_file</i>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>, in <em>{{pub.Fields.Booktitle}}</em>,
                                        <span ng-show="pub.Fields.Pages">pp. {{pub.Fields.Pages}},</span> {{pub.Fields.Year}}
			    </span>
			    <!-- format for case: book -->
 			    <span ng-switch-when="book">
   			   		<i class="material-icons">book</i>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>, {{pub.Fields.Publisher}}, {{pub.Fields.Year}}
			    </span>
			    <!-- format for case: inbook (chapters) -->
 			    <span ng-switch-when="inbook">
   			   		<i class="material-icons">book</i>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Chapter}}</strong>, in {{pub.Fields.Title}}, pp. {{pub.Fields.Pages}}, {{pub.Fields.Publisher}}, {{pub.Fields.Year}}
			    </span>
			    <!-- format for case: mastersthesis -->
			    <span ng-switch-when="mastersthesis">
			   		<i class="material-icons">book</i>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>, <span ng-if="pub.Fields.Type">{{pub.Fields.Type}}</span><span ng-if="!pub.Fields.Type">Master's thesis</span> at <em>{{pub.Fields.School}}</em>, {{pub.Fields.Year}}
			    </span>
			    <span ng-switch-when="thesis">
			   		<i class="material-icons">book</i>
					{{pub.Fields.Author}}, <strong>{{pub.Fields.Title}}</strong>, <span ng-if="pub.Fields.Type">{{pub.Fields.Type}}</span><span ng-if="!pub.Fields.Type">Thesis</span> at <em>{{pub.Fields.School}}</em>, {{pub.Fields.Year}}
			    </span>
			    <!-- format for case: phdthesis -->
			    <span ng-switch-when="phdthesis">
			   		<i class="material-icons">book</i>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>, Ph.D. thesis at <em>{{pub.Fields.School}}</em>, {{pub.Fields.Year}}
			    </span>
			    <!-- format for case: patent -->
			    <span ng-switch-when="patent">
			   		<i class="material-icons">assignment_turned_in</i>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>, {{pub.Fields.Nationality}} <span ng-if="pub.Fields.Type">{{pub.Fields.Type}}</span><span ng-if="!pub.Fields.Type">Patent</span><span ng-show="pub.Fields.Number"> {{pub.Fields.Number}}</span>, {{pub.Fields.Year}}
			    </span>
			    <!-- arrow to expand, common to all cases (controlled by showMore variable for each pub) -->
                            <i id="morearrow" class="material-icons color-theme"> {{showMore ? 'arrow_downward' : 'arrow_forward'}} </i> </a>
			</span>

                        <!-- Extra info all pubs may have, show only if available. Abstract, DOI link, arXiv link, URL, slides link, and BibTex reference (always) -->
			<div ng-show="showMore" id="pubhidden">
				<span ng-show="pub.Fields.Abstract">
                                    <p style="text-align:justify"><strong>Abstract: </strong>
                                    {{pub.Fields.Abstract}} </p>
                                </span>
				<div id="pubButtons">
					<a class="label label-theme" ng-show="pub.Fields.Doi" href="https://doi.org/{{pub.Fields.Doi}}">DOI: {{pub.Fields.Doi}}</a>
					<a class="label label-theme" ng-show="pub.Fields.Eprint" href="http://arxiv.org/abs/{{pub.Fields.Eprint}}">arXiv: {{pub.Fields.Eprint}} [{{pub.Fields.Eprintclass}}]</a>
					<a class="label label-theme" ng-show="pub.Fields.Url" href="{{pub.Fields.Url}}">Link</a>
					<a class="label label-theme" ng-show="pub.Fields.Slides" href="{{pub.Fields.Slides}}">Slides</a>
					<a class="label label-theme" ng-click="open(pub)">BibTeX</a>
				</div>
			</div>
		</li>
	</ul>
</div>
<p>
<small>
<a href="data/pubs/bibfile_students.bib">Download the .bib file with the student's theses.</a>
</small>
</p>
